<h1 class="text-center mb-4">Welcome to my todolist app</h1>
<%= render 'layouts/task_form'  %>
<div class="container">
    <ul>
        <% @categories.each do  |category|%>
        <li class="category-title"><%= category.title  %></li>
        <div class="card">
            <ul id=<%=category.title %> class="category-content">
                <% category.tasks.each do |task|  %>
                <li id='<%= task.id %>'>
                    <%= task.title  %>
                    <% unless task.deadline.nil? %>
                    , to read: <%= task.deadline.strftime('%D')  %>

                    <%= check_box_tag :status, 
                    1, 
                    if (task.status == true) 
                      true 
                    else 
                      false
                    end,
                    data: { remote: true, 
                            url: "/tasks/#{task.id}", 
                            params: { id: "#{task.id}", 
                                      status: true}.to_param, 
                            method: "put" }%>
                    <%= link_to '', task, method: :delete, data: { confirm: 'Are you sure?' }, :remote => true, :class => 'delete fas fa-times' %>
                    <% end %>
                </li>
                <% end %>
            </ul>
            <% end %>
        </div>
    </ul>
</div>

<div class="container">
    <div class="row">
        <% @tasks.each do |task|  %>
        <div class="card col-3">
            <% unless task.image.nil? %>
            <%= image_tag task.image, class: "rounded-circle" %>
            <% end %>
        </div>
        <% end %>
    </div>
</div>